.DS_Store
Thumbs.db

.bashrc
.bash_profile
.bash_logout
.profile
.bash_history
.npm/
.cache/
.config/
.local/
.ssh/
.vscode/
.idea/
.ipynb_checkpoints/

**/node_modules/
**/dist/
**/build/
**/tmp/
**/__pycache__/

../cheapest_study_destinations_europe/
../Documents/
../Downloads/
../Music/
../Pictures/
../Videos/
../snap/
../.gitconfig
../.gitignore


